.doc {
  margin-left: 10%;
  margin-right: 30%;
  padding: 2rem;
}

.highlight {
  position: relative;
}

.highlight:hover .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.5rem;
  display: none;
  width: auto;
  background-color: #2d3748;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
}
